@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

body {
  margin: 0;
}

nav.mainNav {
  background-color: #bb0303;
  display: flex;
  width: 100%;
  height: auto;
  overflow: auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 3px #B3B3B3;
}

nav .mainLogo {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5em;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 18pt;
  float: left;
}

.logo {
  padding: 0.5em;
}

div.cardContainer {
  display: flex;
  margin: 3rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border: solid #bb0303;
  border-radius: 25px;
  min-width: 8rem;

  transition: all 0.3s;
}
div.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 3px #B3B3B3;
}

p.cardTitle {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 16pt;
}

a.cardButton {
  user-select: none;
  appearance: button;
  cursor: initial;

  text-decoration: none;

  outline: none;
  background-color: #FFFFFF;
  border: solid 2px #B3B3B3;
  font-family: 'Open Sans';
  font-size: 16pt;
  color: initial;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 0 3px 0 #B3B3B3;
  border-radius: 10px;

  transition: all 3ms;
}

a.cardButton:active {
  box-shadow: none;
  transform: translateY(3px);
}